<div ng-controller="cantinaController as mv" class="center">

    <div ng-repeat="cantina in mv.cantinas" class="centralizaLogos">


        <div ng-controller="cardControllerMenu" ng-cloak >



            <div flex-xs flex-gt-xs="50" layout="column">
                <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{mv.cantinas.name}}</span>
                            <span class="md-subhead">{{mv.cantinas.menu.price}}</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media">{{mv.smallImg}}</div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">

                    </md-card-actions>
                </md-card>
            </div>
        </div>
    </div>

</div>

